/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

/* Importing components */
@import url("components/card.css");
@import url("components/navbar.css");

/* Importing layouts */
@import url("layouts/profile.css");

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background: #F4F4F4;
}
p {
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
.padded {
  padding: 30px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

.element {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.stat-2 {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.stat-3 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
  background-image: url("https://picsum.photos/458/354?image=1083")
  background-repeat: no-repeat;
  background-size: cover;
}


